/*Roboto 100, 300, 400, 500, 700, 900*/

/* HOME PAGE */
/* navigation section */

.logo {
	vertical-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navigation {
	background-color: #ffffff;
	height: 78px;
}

.nav-link1 {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.nav-link2 {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* hero section */

.hero-image {
  height: 500px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/jlmpartners/master/img/jlm_hero.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
	margin-top: 150px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 25px;
  float: right;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 20px;
  float: right;
  clear: both;
}


/* investment criteria section */

.section-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	margin-top: 25px;
	color: #000000;
}

.section-text {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
   padding-bottom: 3px;
}

.transaction-link {
   float: right;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #757579;
}

/* planet fitness section */

.pf-section {
	background-color: rgba(91, 27, 87, 0.13);
	width: 100%;
}


.pf-paragraph {
	padding-bottom: 3px;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #757579;
    line-height: 30px;
}

hr {
	border-top: 1px solid #757579;
	width: 100%;
	vertical-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.pf-text-section2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
}

.pf-text-section3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
   text-align: center;
   padding-bottom: 15px;
}

/* footer section */

.footer {
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer-title {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 20px;
   color: #5B1B57;
   margin-top: 30px;
   margin-bottom: auto;
   
}

.footer-text-left {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #000000;
   line-height: 30px;
}

#sitemap-links {
	margin: auto;
    margin-top: 61px;
}

.footer-text-links {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #000000;
   text-align: right;
}

/* TEAM PAGE */

.bio-name {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 23px;
   color: #5B1B57;
}

.bio-text {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 17px;
   color: #757579;
   line-height: 30px;
   
}

