/*Roboto 100, 300, 400, 500, 700, 900*/

/* HOME PAGE */

/* navigation section */

.logo {
	vertical-align: left;
	padding-top: 6px;
  /*height: 70px;*/
}

.navigation {
	background-color: #ffffff;
	height: 78px;
}

.nav-link1 {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  color: #0a0a0a;
}

.nav-link2 {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  color: #0a0a0a;
}

a:hover.nav-link1 {
  color: #5c1c58;
}

a:hover.nav-link2 {
  color: #5c1c58;
}

/* hero section */

.hero-image {
  height: 500px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/jlmpartners/master/img/jlm_hero.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
	margin-top: 150px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 25px;
  float: right;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 20px;
  float: right;
  clear: both;
}


/* investment criteria section */

.section-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
	color: #000000;
}

.section-text {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
   padding-bottom: 3px;
}

.transaction-link {
   float: right;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   color: #757579;
   margin-bottom: 30px;
}

/* customized transaction section */

.transaction-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #757579;
  line-height: 30px;
  text-align: left;
}

.transaction-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #757579;
  line-height: 30px;
  margin-bottom: 30px;
}

li {
  margin-bottom: 8px;
}

.transaction-section {
  background-color: #f8f8f8;
}

.transaction-link2 {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #757579;
  margin-bottom: 30px;
}

span.contactus {
  text-decoration: underline;
}

a:hover.transaction-link2 {
  color: #5c1c58;
}

a:hover.transaction-link {
  color: #5c1c58;
}

/* planet fitness section */

.pf-section {
	background-color: rgba(91, 27, 87, 0.13);
}

.pf-logo {
	padding-bottom: 5px;
}


.pf-paragraph {
	padding-bottom: 3px;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #757579;
  line-height: 30px;
}

hr {
	border-top: 1px solid #5c1c58;
	width: 100%;
	vertical-align: center;
}

.pf-pictures {
  margin-bottom: 30px;
}

.pf-pictures-toprow {
  margin-top: 30px;
}

.pf-text-section2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
   text-align: left;
}

.pf-text-section3 {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #757579;
   line-height: 30px;
   text-align: center;
   margin-top: 30px;
}

.NYSE_photo {
  margin-top: 30px;
  margin-bottom: 30px;
}



/* footer section */

/* footer */

.footer-section {
  background-color: #5c1c58;
}

.text-right {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.footer-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.footer-text-left {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  line-height: 8px;
}

.footer-text-r {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  display: block;
  margin-top: 15px;
  float: right;
  clear: both;
}

a.footer-text-r {  /*need to change links for this to work */
  color: #ffffff;
  text-decoration: none;
}

.left-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.right-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.mailto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

/* copyright */

.copyright-text-left {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0a0a0a;
  margin: auto;
}


#copyright-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0a0a0a;
}

#copyright-section {
  margin-top: 12px;
}

.jmv {
  color: #5c1c58;
}

a:hover.jmv {
  color: #5c1c58;
}

/* TEAM PAGE */
/* team section */

#team-title-partners {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.name_title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5c1c58;
}

.bio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #757579;
  line-height: 30px;
}

.email_icon {
  padding-left: 5px;
  height: 20px;
}

a:hover.jlmfinancial-link {
  color: #5c1c58;
}

a.jlmfinancial-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5c1c58;
  line-height: 30px;
}

/* core values section */

.corevalues {
  background-color: #5c1c58;
  border-radius: 10px;
  width: 80%;
  display: block;
  margin: 15px auto;
  padding: 20px;
}

.core-values-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

.core-values-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}


/* PORTFOLIO Page */

#acquisition-title {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.pf-tombstones {
  display: block;
  margin: 15px auto;
}

.acquisition-section {
  margin-bottom: 30px;
}
